* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #25252d;
}

.main {
  background-image: url("../images/main.png");
  background-size: cover;

  .header {
    padding: 20px 0;

    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .burger {
        align-self: center;
        cursor: pointer;
      }

      .menu {
        display: none;
        flex-direction: column;
        padding: 35px 0;
        width: 250px;
        background-color: @color-dark;

        .close {
          margin-bottom: 51px;
        }

        .menu-title {
          font-size: 40px;
          .font();
          color: @color-white;
          margin-bottom: 60px;
        }

        li {
          list-style: none;
          margin-bottom: 31px;
          &:hover {
            margin-left: 18px;
            list-style: outside;
            color: @color-gold;
          }

          a {
            text-decoration: none;
            font-size: 18px;
            .font-300();
            color: @color-white;

            &:hover {
              color: @color-gold;
              font-size: 18px;
              .font-300();
            }
          }
        }

        .social {
          padding-top: 40px;

          a:nth-child(2) {
            margin: 0 30px;
            display: inline-block;
          }

          a:hover {
            opacity: .7;
          }
        }

      }

      .logo {
        text-align: center;
        .logo-name();
      }

      .call()
    }
  }

  .about {
    .container {
      .container();
      position: relative;

      .scroll {
        position: absolute;
        display: flex;
        transform: rotate(-90deg);
        left: -90px;
        top: 470px;

        .scroll-image {
          display: inline-block;
          transform: rotate(90deg);
          margin-right: 51px;
        }

        .scroll-text {
          .font-500();
          display: inline-block;
          font-size: 18px;
          color: #BABABAFF;
          line-height: 3.333;
          text-align: center;
        }
      }

      .about-center {
        padding: 162px 0 275px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .about-title {
          .font();
          font-size: 50px;
          color: rgb(236, 198, 107);
          line-height: 1.2;
          text-align: center;
          max-width: 595px;
          margin-bottom: 25px;
        }

        .about-text {
          .font-700();
          font-size: 18px;
          color: rgb(255, 255, 255);
          line-height: 3.333;
          text-align: center;
          margin-bottom: 40px;
        }
        a {
          text-decoration: none;
          .btn {
            .btn-gradient();
            width: 300px;
            box-sizing: border-box;
          }
        }
      }

      .social {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 180px;
        right: 0;

        a {
          margin: 15px;
          display: inline-block;
          &:hover {
              opacity: .7;
          }
        }
      }
    }
  }
}

.project {
  .container {
    .container();

    .title {
      .title();
      margin-bottom: 70px;
    }

    .project-one {
      display: flex;
      justify-content: space-between;
      margin-bottom: 113px;
      .project-card-image();
      .project-card-text();
    }

    .project-two {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
      .project-card-image();
      .project-card-text();
    }

    .hidden {
      display: none;
    }

    .more {
      font-size: 18px;
      .font-500();
      color: #89898AFF;
      text-align: center;

      span {
        margin-left: 10px;
      }
    }
  }
}

.scheme {
  padding: 120px 0;
  margin-bottom: 100px;

  .container {
    .container();

    .title {
      .title();
      margin-bottom: 83px;
    }

    .scheme-image {
      position: relative;
      max-width: 576px;
      margin: 0 auto;

      .scheme-1, .scheme-2, .scheme-3, .scheme-4, .scheme-5 {
        .round {
          position: absolute;
          border-radius: 50%;
          background-color: @color-gold;
          box-shadow: 0 0 25.5px 4.5px rgba(0, 0, 0, 1);
          width: 15px;
          height: 15px;

          &::after {
            content: '';
            position: absolute;
            border: 1px solid @color-gold;
            border-radius: 50%;
            top: calc(50% - 12.5px);
            left: calc(50% - 12.5px);
            width: 23px;
            height: 23px;
          }
        }

        .sign-title {
          font-size: 18px;
          .font-500();
          color: @color-white;
          margin-bottom: 16px;
        }

        .sign-text {
          font-size: 16px;
          .font-100();
          color: @color-white;
          width: 270px;
        }
      }

      .scheme-1 {
        .round {
          top: 105px;
          left: 115px;

          .line {
            position: absolute;
            top: -15px;
            left: -200px;
          }
        }

        .sign-card {
          position: absolute;
          top: 80px;
          left: -300px;
        }
      }

      .scheme-2 {
        .round {
          top: 320px;
          left: 80px;

          .line {
            position: absolute;
            top: 10px;
            left: -100px;
          }
        }

        .sign-card {
          position: absolute;
          top: 340px;
          left: -250px;
        }
      }

      .scheme-3 {
        .round {
          top: 480px;
          left: 220px;

          .line {
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }

        .sign-card {
          position: absolute;
          top: 500px;
          left: 330px;
        }
      }

      .scheme-4 {
        .round {
          top: 300px;
          left: 390px;

          .line {
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }

        .sign-card {
          position: absolute;
          top: 325px;
          left: 630px;
        }
      }

      .scheme-5 {
        .round {
          top: 150px;
          left: 490px;

          .line {
            position: absolute;
            top: -10px;
            left: 10px;
          }
        }

        .sign-card {
          position: absolute;
          top: 130px;
          left: 660px;
        }
      }
    }
  }
}

.steps {
  .container {
    .container();

    .title {
      .title();
    }

    .steps-counter {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 290px 340px 280px;
      padding-left: 100px;
      padding-bottom: 90px;

      .step {
        display: flex;
        padding: 121px 0 30px 0;

        .step-image {
          width: 71px;
          position: relative;

          .step-sign {
            position: absolute;
            z-index: 10;
          }

          .step-number {
            position: absolute;
            top: -68px;
            left: -5px;
            font-size: 70px;
            .font();
            color: #393943FF;
            z-index: 4;
          }
        }

        .step-description {
          width: 263px;
          margin-left: 8px;

          .step-title {
            font-size: 18px;
            .font-500();
            color: @color-white;
            margin-bottom: 10px;
          }

          .step-text {
            font-size: 18px;
            .font-100();
            color: @color-white;

            a {
              color: @color-white;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.carousel {
  .container {
    position: relative;
    .container();
  .title {
    .title();
  }
    .arrow-prev {
      position: absolute;
      left: 0;
      top: 330px;
      fill: @color-gold;
    }
  .slider {
    max-width:1050px;
    margin: 80px auto 0;
    .slick-dots {
      display: flex;
      justify-content: center;
      list-style: none;
      li[class="slick-active"] button {
        background: @color-gold;
      }
      button {
        margin-top: 40px;
        background: transparent;
        border: 1px solid @color-gold;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        &::before {
          content: '';
        }
      }
    }
    .slick-slide {
      padding-top:70px;
      filter: blur(2px);
      img {
        width: 400px;
        height: 290px;
      }
    }
    .slick-center {
      padding-top:0;
      filter: none;
      img {
        width: 590px;
        height: 420px;
      }
    }
  }
  .arrow-next {
    position: absolute;
    right: 0;
    top: 330px;
    fill: @color-gold;
    width: 50px;
    height: 50px;
  }
  }
}

.guarantees {
  .container {
    .container();
    .title {
      margin: 175px 0 70px 0;
      .title();
    }
    .two-blocks {
      display: flex;
      justify-content: space-between;
      .two-blocks-terms {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background-color: #313139FF;
        width: 588px;
        padding: 30px 78px 30px 40px;
        .two-blocks-description {
          margin-left: 40px;
          .two-blocks-title {
            font-size: 18px;
            .font-500();
            color: @color-white;
            margin-bottom: 15px;
          }
          .two-blocks-text {
            font-size: 18px;
            .font-100();
            color: @color-white;
          }
        }
      }
    }
    .three-blocks {
      display: flex;
      justify-content: space-between;
      padding-top: 60px;
      .three-blocks-description {
        width: 282px;
        text-align: center;
        .three-blocks-image {
          display: inline-block;
          border: 1px solid @color-gold;
          border-radius: 50%;
          padding: 36px 40px;
        }
        .three-blocks-title {
          font-size: 18px;
          .font-500();
          color: @color-white;
          margin: 30px 0 15px 0;
        }

        .three-blocks-text {
          font-size: 18px;
          .font-100();
          color: @color-white;
          line-height: 1.278;
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
  }
}

.consultation {
  padding: 120px 0 65px 0;

  .container {
    display: flex;
    justify-content: space-between;
    .container();

    .consultation-image {
      width: 615px;

      img {
        width: 100%;
      }
    }

    .consultation-form {
      width: 512px;

      .title {
        .title();
        margin-bottom: 40px;
      }
      .form();
    }
  }
}

.map {
  .container {
    background-image: url("../images/map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .container();

    .location {
      position: absolute;
      background-image: url("../images/location.png");
      width: 20px;
      height: 30px;

      &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 5px;
        width: 10px;
        height: 10px;
        filter: blur(10px);
        background-color: @color-gold;
      }
    }

    .location-1 {
      top: 220px;
      left: 150px;
    }

    .location-2 {
      top: 280px;
      left: 230px;
    }

    .location-3 {
      top: 360px;
      left: 130px;
    }

    .location-4 {
      top: 350px;
      left: 250px;
    }

    .location-5 {
      top: 320px;
      left: 290px;
    }

    .location-6 {
      top: 400px;
      left: 310px;
    }

    .location-7 {
      top: 210px;
      right: 230px;
    }

    .location-8 {
      top: 370px;
      right: 230px;
    }

    .location-9 {
      top: 480px;
      right: 240px;
    }

    .location-10 {
      top: 450px;
      right: 280px;
    }

    .location-11 {
      top: 290px;
      right: 350px;
    }

    .map-center {
      padding: 261px 367px 160px 391px;
      text-align: center;

      .title {
        font-size: 60px;
        .font();
        color: @color-gold;
        margin-bottom: 30px;
        line-height: 1.2;
      }

      .map-text {
        font-size: 18px;
        .font-500();
        color: @color-white;
        line-height: 1.278;
        text-align: center;
        margin-bottom: 40px;
      }

      .btn-gradient {
        width: 306px;
      }
    }

    .popup {
      display: none;
      background-image: url("../images/popup.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 560px;
      max-height: 480px;
      position: fixed;
      padding: 50px 72px 55px;
      margin: 0 auto;
      z-index: 300;
      top: calc(50% - 280px);
      left: calc(50% - 240px);

      .close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
      }

      .popup-title {
        font-size: 18px;
        .font-500();
        color: @color-white;
        line-height: 1.278;
        margin: 0 auto;
        width: 395px;
        text-align: center;
        padding-bottom: 30px;
      }

      .form();
    }
  }
}

footer {
  padding: 50px 0 110px 0;
  .container {
    .container();
    display: flex;
    justify-content: space-between;

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      .font-500();
      color: @color-white;
      div:first-child {
        margin-bottom: 30px;
      }
    }
    .logo {
      text-align: center;
      margin-right: 80px;
      div:first-child {
        margin-bottom: 56px;
      }
      .logo-name {
        .logo-name();
      }
      .social {
        a:nth-child(2) {
          margin: 0 30px;
          display: inline-block;
        }
        a:hover {
          opacity: .7;
        }
      }
    }
    .call {
      .call();
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }
}


@import "variables";