@font-face {
  font-family: Neumann;
  src: url("../fonts/Neumann.otf");
}

@font-face {
  font-family: Museosanscyrl;
  src: url("../fonts/museosanscyrl-100.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Museosanscyrl;
  src: url("../fonts/museosanscyrl-300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Museosanscyrl;
  src: url("../fonts/museosanscyrl-500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Museosanscyrl;
  src: url("../fonts/museosanscyrl-700.ttf");
  font-weight: 700;
}

.font-100() {
  font-family: Museosanscyrl, sans-serif;
  font-weight: 100;
}

.font-300() {
  font-family: Museosanscyrl, sans-serif;
  font-weight: 300;
}

.font-500() {
  font-family: Museosanscyrl, sans-serif;
  font-weight: 500;
}

.font-700() {
  font-family: Museosanscyrl, sans-serif;
  font-weight: 700;
}

.font() {
  font-family: Neumann, sans-serif;
}

.container() {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1100px) {
    padding: 0 15px;
  }
}

.logo-name() {
  .font();
  font-size: 18px;
  color: @color-white;
}

.call() {

  .call-phone {
    font-size: 18px;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    color: @color-white;
    text-align: end;
  }

  .call-effect {
    display: flex;
    margin-top: 21px;
    justify-content: end;

    .circles {
      position: relative;
      width: 50px;
      height: 20px;

      .call-circle {
        position: absolute;
        width: 7px;
        height: 7px;
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        background: @color-gold;
        border-radius: 50%;
        z-index: 3;
      }

      .call-circle-2 {
        position: absolute;
        border: 1px solid rgb(255, 198, 0, 0.5);
        border-radius: 50%;
        box-shadow: 0 0 15px 0 rgba(236, 198, 107, 0.5);
        width: 18px;
        height: 18px;
        top: calc(50% - 9px);
        left: calc(50% - 9px);
        animation: circle 1.5s ease-in-out infinite;
        background-image: linear-gradient(45deg, @color-gold, @color-blue);
        @keyframes circle {
          0% {
            transform: scale(0);
            opacity: 1;
          }
          100% {
            transform: scale(1.5);
            opacity: 0;
          }
        }
      }

      .call-circle-3 {
        border: 1px solid rgb(255, 198, 0);
        border-radius: 50%;
        box-shadow: 0 0 15px 0 rgba(236, 198, 107, 0.5);
        position: absolute;
        width: 28px;
        height: 28px;
        top: calc(50% - 14px);
        left: calc(50% - 14px);
        animation: circle-2 1.5s ease-in-out infinite;
        background-image: linear-gradient(45deg, @color-gold, @color-blue);
        @keyframes circle-2 {
          0% {
            transform: scale(0);
            opacity: 1;
          }
          100% {
            transform: scale(2);
            opacity: 0;
          }
        }
      }
    }

    .call-order {
      a {
        .font-700();
        font-size: 16px;
        color: @color-gold;
        text-decoration: none;
        border-bottom: 1px solid @color-gold;
      }
    }
  }
}

.title() {
  .font();
  font-size: 40px;
  color: @color-gold;
  text-align: center;
  line-height: 1.2;
  @media screen and (max-width: 1024px) {
    font-size: 30px;
  }
}

.btn-gradient {
  background-image: -moz-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);
  border-radius: 30px;
  border: none;
  padding: 21px;
  font-size: 18px;
  color: @color-dark;
  text-align: center;
  .font-700();
  cursor: pointer;

}

.btn-transparent {
  border: 1px solid @color-white;
  border-radius: 30px;
  font-size: 18px;
  .font-700();
  color: @color-white;
  padding: 21px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}


.form() {

  form {
    flex-direction: column;
    align-items: center;
    display: flex;
    @media screen and (max-width: 425px) {
      width: 287px;
    }

    input:not(input[type='checkbox']) {
      padding: 22px 27px;
      box-sizing: border-box;
      background: transparent;
      border: 1px solid @color-white;
      border-radius: 29px;
      width: 409px;
      height: 58px;
      font-size: 18px;
      @media screen and (max-width: 425px) {
        font-size: 14px;
        padding: 18px;
        width: 270px;
        align-self: center;
      }
      .font-300();
      color: @color-white;
      margin-bottom: 20px;

      &::placeholder {
        color: @color-white;
      }
    }

    .btn-gradient {
      box-sizing: border-box;
      margin-bottom: 30px;
      width: 409px;
      height: 60px;
      &:hover {
        box-shadow: 1px 1px 25px 5px @color-gold;
      }

      @media screen and (max-width: 425px) {
        font-size: 16px;
        padding: 15px;
        width: 270px;
        margin-bottom: 25px;
      }
    }

    label {
      display: flex;
      @media screen and (max-width: 425px) {
        width: 270px;
      }

      &:not(:last-child) {
        flex-direction: column;
        width: 409px;
        @media screen and (max-width: 425px) {
          width: 270px;
        }
      }

      .error, .error-check {
        display: none;
        color: #ad0707;
        font-size: 14px;
        .font-500();
        margin-top: -20px;
        margin-left: 20px;
      }

      .error-check {
        margin-top: 0;

        span {
          cursor: pointer;
          color: @color-white;
          text-decoration: underline;
        }
      }

      input[type='checkbox'] {
        visibility: hidden;
        padding: 0;
        margin-right: -13px;
      }

      input[type='checkbox']:not(:checked) + span {
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border: 1px solid @color-white;

        img {
          visibility: hidden;
        }
      }

      input[type='checkbox']:checked + span {
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border: 1px solid @color-white;

        img {
          visibility: visible;
        }
      }

      .agreement {
        width: 314px;
        margin-left: 27px;
        font-size: 14px;
        .font-300();
        color: @color-white;
        line-height: 1.286;
        @media screen and (max-width: 425px) {
          font-size: 12px;
        }

        a {
          font-weight: bold;
          color: @color-white;
        }
      }
    }
  }
}


@color-white: #ffffff;
@color-gold: #ecc66b;
@color-dark: #25252d;
@color-blue: #31394f;


